@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

/* BASE STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2";
  color: #111;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0px 10px;
  font-size: 1.1rem;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 20;
  color: #5379ff;
}

/* COLLECTION */
.porfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.porfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.porfolio .item img {
  width: 100%;
  height: 100%;
}

.porfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.porfolio .item:hover .action {
  opacity: 1;
}

.porfolio .item .action .stats > * {
  color: #fff;
  text-decoration: none;
}

.porfolio .item .action .stats i {
  margin: 10px;
}

.porfolio .item .action a {
  display: inline-block;
  color: white;
  border: 1px solid white;
  padding: 5px 30px;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 1068px) {
  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }

  section {
    padding: 100px 40px;
  }
}
