@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

/* BASE STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2";
  color: #fff;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0px 10px;
  font-size: 1.1rem;
  line-height: 1em;
}

.music-info {
}

.music-info h4 {
  font-size: 1.1rem;
  color: #5379ff;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 20;
  color: #5379ff;
}

.back-btn {
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 1.5rem;
  /* color: #444; */
}

.back-btn i,
.back-text {
  margin: 10px;
  /* color: #444; */
}

.back-btn:hover {
  cursor: pointer;
}

.audio-container {
  position: relative;
  width: 70%;
  height: 70%;
  margin-top: 60px;
}

.audio-container.play {
}
.audio-container.mute {
}
.audio-container.full-screen {
}

img {
  max-width: 100%;
}

.book {
  transition: opacity 0.4s 0.2s;
}
p {
  margin-top: 8vw;
  text-align: center;
  font-size: 5vw;
  color: #000000;
}
.page {
  width: 30vw;
  height: 44vw;
  background-color: #111111;
  float: left;
  margin-bottom: 0.5em;
  background: left top no-repeat;
  background-size: cover;
}
.page:nth-child(even) {
  clear: both;
}
.book {
  perspective: 250vw;
}
.book .pages {
  width: 60vw;
  height: 44vw;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px #e3dfd8;*/
}
.book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 30vw;
  height: 44vw;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #f0f0f0;
}
.book .page:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}
.book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0) 10%
  );
}
.book .page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.12) 0%,
    rgba(0, 0, 0, 0) 10%
  );
}
.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
  transition: none;
}
.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  height: 90%;
}
body {
  min-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  line-height: 1.5em;
}
.page:nth-child(odd) {
  background-position: right top;
}

.footer {
  display: grid;
  grid-template-columns: 24% 36% 40%;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background: #444;
  border-radius: 10px;
  z-index: 200;
}

.stats {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}

.tool-bar {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-count i,
.heart-count i {
  margin: 10px;
}

.tool-bar button {
  border: none;
  background: none;
  font-size: 1.2rem;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #5379ff;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.tool-bar i:hover {
  cursor: pointer;
}

#volume {
  position: relative;
  display: flex;
  align-items: center;
}

#vol-up {
  left: 0;
}

#slider {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  background: #777;
  height: 5px;
  width: 160px;
  border-radius: 15px;
  margin: 8px;
}

#slider:hover {
  opacity: 1;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #5379ff;
  cursor: pointer;
  border-radius: 10px;
}

#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #5379ff;
  cursor: pointer;
  border-radius: 10px;
}
